@font-face {
   font-family: MyriadProRegular;
   src: url("../font/MyriadProRegular/MyriadProRegular.ttf");
}
*{
   margin: 0;
   padding: 0;
}
html {
   height: 100%;
   width: 100%;
}
body {
   height: 100%;
   width: 50%;
   margin-left: 25%;
   background:#F8F8FF;
}
.brd {
   height: 100%;
   padding: 5% 20%;
   background: #f3f4f7;
}
.fio,
.reason,
.contacts {
   border-bottom: 1px solid #c2c6c6;
}
h1 {
   text-align: center;
   padding-bottom: 20px;
   text-transform: uppercase;
   font: bold 36px arial;
   color: #010101;
}
.foto {
   text-align: center;
   padding-bottom: 20px;
}
.occupation {
   padding: 0;
   padding-bottom: 20px;
   font: normal 14px arial;
   color: #1f1f1f;
}
h2 {
   padding: 20px 0;
   font: bold 18px MyriadProRegular;
}
ul {
   padding-left: 10%;
   padding-bottom: 20px;
   font: normal 14px MyriadProRegular;
}
p {
   padding-left: 10%;
   padding-bottom: 20px;
   font: normal 14px MyriadProRegular;
}
.vk {
   padding: 0 0 20px 0;
   font: bold 18px MyriadProRegular;
}
.link {
   padding-left: 10%;
   padding-bottom: 20px;
   font: italic 14px MyriadProRegular;
   color: blue;
}
